html,body{
  margin:0;
  padding:0;
}

header h1{
  margin: 0;
  color: grey;
  padding:10px 10px 10px 10px;

}

#top-nav {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  right: 60px;
  top: 15px;
}
#top-nav<ul<li {
  font-size: 20px;
  display: inline;
  margin:15px;
}

body {
  background-color: white;

}

.collage{
  text-align: center;
}
/*
div.homeBox {
  width: 300px;
  height: 60px;
  background-color: grey;
}

div.collapse {
  background-color: red;
  width: 30px;
  height: 200px;
}*/

header {
  background-color:black;
  display: block;
  height: 100px;
  width: 100%;
  margin-top:0px;
}

.container{
  position: relative;
  /*background-image: url('Lighthouse.jpg');*/
  height: 280px;
  width: 380px;
  /*margin: 12px 4px 12px 4px;*/
  /*background-color:red;*/

}

.text{
  display:none;
  position: absolute;
  bottom: 0;
  align:center;
  padding: 0px 0px 35px 35px;

}



img {
  //margin: 4px 1px 4px 1px;
  width: 380px;
  height: 280px;
}

.buttons-plans {
  float: left;
}
